{% extends 'layouts/layout_admin.twig' %}
{% block main_content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>{% if relation_type_id == 1 %}Locataires {% else %} Gestionnaires {% endif %}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Locataires</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <hr>
            {% if relation_type_id == 1 %}
            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-add-client">
                        Ajouter un locataire
                    </button>

                </div>
            </div>
            {% endif %}
            <hr>
            <!-- Default box -->
            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
            {% include  '/components/cards/default_user_card.twig' %}
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <nav aria-label="Contacts Page Navigation">
                        <ul class="pagination justify-content-center m-0">
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include '/components/modals/add_client.twig' %}
{% endblock %}