
    <!-- Header -->
    <div id="header">
        <div class="container">
            <!-- Left Side Content -->
            <div class="left-side">
                <!-- Logo -->
                <div id="logo">
                    <a href="{{url_for('home')}}"><img src="/assets/import/images/logo.svg" alt=""></a>
                </div>
                <!-- Mobile Navigation -->
                <div class="mmenu-trigger">
                    <button class="hamburger hamburger--collapse" type="button">
                                <span class="hamburger-box">
							<span class="hamburger-inner"></span>
                                </span>
                    </button>
                </div>
                <!-- Main Navigation -->
                <nav id="navigation" class="style-1">
                    <ul id="responsive">
                        <li><a class="current" href="{{url_for('home')}}">Home</a>
                            <ul>
                                <li><a href="#">Home Map</a>
                                    <ul>
                                        <li><a href="index.html">Home Map Style 1</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Home Image</a>
                                    <ul>
                                        <li><a href="index-2.html">Home Image Slide</a></li>
                                        <li><a href="index-6.html">Home Parallax Image</a></li>
                                        <li><a href="index-15.html">Home Typed Image</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Home Video</a>
                                    <ul>
                                        <li><a href="index-3.html">Home Full Video</a></li>
                                        <li><a href="index-7.html">Home 3D Video</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Home Slider</a>
                                    <ul>
                                        <li><a href="index-4.html">Home Mid Slider</a></li>
                                        <li><a href="index-8.html">Home Full Slider</a></li>
                                        <li><a href="index-10.html">Slider Presentation 1</a></li>
                                        <li><a href="index-11.html">Slider Presentation 2</a></li>
                                        <li><a href="index-16.html">Slider Presentation 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Home Styles</a>
                                    <ul>
                                        <li><a href="index-13.html">Home Style Dark</a></li>
                                        <li><a href="index-14.html">Home Style White</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Properties</a>
                            <ul>
                                <li><a href="#">List Layout</a>
                                    <ul>
                                        <li><a href="properties-full-list.html">Full Width</a></li>
                                        <li><a href="properties-list-right-sidebar.html">With Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Grid Layout</a>
                                    <ul>
                                        <li><a href="properties-full-grid.html">Full Width</a></li>
                                        <li><a href="properties-grid-right-sidebar.html">With Sidebar</a></li>
                                        <li><a href="properties-half-map.html">Half Map</a></li>
                                        <li><a href="properties-map.html">Top Map</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Single Properties</a>
                                    <ul>
                                        <li><a href="single-property-1.html">Single Property 1</a></li>
                                        <li><a href="single-property-2.html">Single Property 2</a></li>
                                        <li><a href="single-property-3.html">Single Property 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Agents</a>
                            <ul>
                                <li><a href="agents-listing-grid.html">Agents Grid</a>
                                </li>
                                <li><a href="agents-listing-row.html">Agents List</a>
                                </li>
                                <li><a href="agent-details.html">Agents Details</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Pages</a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="dashboard.html">Dashboard</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="pricing-table.html">Pricing Tables</a></li>
                                <li><a href="404.html">Page 404</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="under-construction.html">Under Construction</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Blog</a>
                            <ul>
                                <li><a href="#">Grid Layout</a>
                                    <ul>
                                        <li><a href="blog-full-grid.html">Full Grid</a></li>
                                        <li><a href="blog-grid-sidebar.html">With Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">List Layout</a>
                                    <ul>
                                        <li><a href="blog-full-list.html">Full List</a></li>
                                        <li><a href="blog-list-sidebar.html">With Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
                <!-- Main Navigation / End -->
            </div>
            <!-- Left Side Content / End -->

            <!-- Right Side Content / End -->
            <div class="right-side hidden-lg-down">
                <!-- Header Widget -->
                <div class="header-widget">
                    <a href="#" class="button border">Ajouter un bien</a>
                </div>
                <!-- Header Widget / End -->
            </div>
            <!-- Right Side Content / End -->

        </div>
    </div>
    <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->